/* CSS definition file containing site wide stylesheets */

/* Vertical navbar! */
ul.hornavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a.hornavlink {
    display: block;
    width: 60px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 4px;
}

li.hornavbar {
  float: left;
}
