/* CSS definition file containing site wide stylesheets */

/* Vertical navbar! */
ul.hornavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.hornavlink {
    display: block;
    width: 60px;
}

li.hornavbar {
  float: left;
}
