/* CSS definition file containing site wide stylesheets */

/* Vertical navbar! */
ul.hornavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a:link.hornavlink, a:visited.hornavlink {
    display: block;
    width: 120px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 4px;
}

a:hover.hornavlink {
  background-color: #D90000;
}

a:active.hornavlink {
  background-color: #CC0000;
}

li.hornavbar {
  float: left;
}
